.primaryBox {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;

  text-align: center;
  padding: 10px;
  min-width: 78px;
  background-color: #0386f4;
  background-image: linear-gradient(#0386f4, #0386f4);
  color: #fff;
  border-radius: 3px;
  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 16px;
    position: relative;
    vertical-align: middle;
  }
}
